button {
  cursor: pointer;
  background: var(--color-neon-green);
  border: 0;
  border-radius: 50%;
  width: 2.286em;
  height: 2.286em;
  display: grid;
  place-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.1em;
}
