.advice-container {
  background: var(--color-dark-grayish-blue);
  padding: 1.5em;
  border-radius: 0.535em;
  max-width: 19.28em;
  filter: drop-shadow(30px 30px 80px hsla(0deg, 0%, 0%, 0.102));
  position: relative;
}

.error-state {
  color: red;
}
