/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Custom global styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html {
  /* ------- PRIMARY ------- */
  --color-light-cyan: hsl(193deg, 38%, 86%);
  --color-neon-green: hsl(150deg, 100%, 66%);
  /* ------- NUETRAL ------- */
  --color-grayish-blue: hsl(217deg, 19%, 38%);
  --color-dark-grayish-blue: hsl(217deg, 19%, 24%);
  --color-dark-blue: hsl(218deg, 23%, 16%);

  /* ------- FONTS ------- */
  font-family: 'Manrope', sans-serif;
  font-weight: 800;

  min-height: 100vh;
  color-scheme: light;
  display: grid;
  place-content: center;
  font-size: 28px;
}

body {
  background: var(--color-dark-blue);
  color: var(--color-light-cyan);
  text-align: center;
}
